<div class="card bg-light" style="width: 18rem;">
    <div class="card-body ">
        <div style="display: flex; justify-content: space-between;">
            <h5 class="card-title" style="display: inline-block;"  >{{name}} </h5>
            <label class="form-check-label">
            </label>
    </div>
      <p class="card-text">{{desc}}</p>
      <div class="form-check">
        <div style="display: flex; justify-content: space-between;">
            <button href="#" class="btn btn-danger" (click)="Delete()">Delete</button>
            <p>Done</p>
            <input class="form-check-input" type="checkbox" [(ngModel)]="status" (change)="update()">
        </div>
    </div>
  </div>