<!-- <div class="h-100 d-flex align-items- justify-content-left" style="margin: 15px;" >
    <form #taskForm="ngForm" (ngSubmit)="submit()" autocomplete="off">
        <div class="form-group">
          <label>Task name</label>
          <input 
                name="Name"
                [(ngModel)]="Model.Name" 
                class="form-control" 
                type="text">
        </div>
        <div class="form-group">
          <label>Task description</label>
          <textarea 
                    name="Description"
                    [(ngModel)]="Model.Description" 
                    class="form-control"  
                    rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2" style="margin-top: 5px;" >Add</button>
      </form>
</div> -->

<form action="" #taskForm="ngForm" (ngSubmit)="submit()" autocomplete="off">
  <div class="container-fluid " style="width: 100vw; margin: 5px; padding-top: 20px; padding-bottom: 20px;" >
    <div class="row">
      <div class="col-8"><h5 class="card-title"><input class="form-control form-control" type="text" placeholder="Task name" name="Name" [(ngModel)]="Model.Name" > </h5></div>
      <div class="col-4" style="text-align: center;"> <button class="btn btn-primary mb-2"  style="width: 70px;">Add</button></div>
    </div>
    <div class="row" style="margin-top: 1px;">
      <div class="col-8"><h5 class="card-title"><input class="form-control form-control" type="text" placeholder="Task description" name="Description" [(ngModel)]="Model.Description"> </h5></div>
    </div>
  </div>
</form>

