<div class="h-100 d-flex align-items-left justify-content-left" style="margin: 15px;" >
    <form #taskForm="ngForm" (ngSubmit)="Submit()" autocomplete="off">
        <div class="form-group">
          <label>Task name</label>
          <input 
                name="Name"
                [(ngModel)]="model.Name" 
                class="form-control form-control-lg" 
                type="text">
        </div>
        <div class="form-group">
          <label>Task description</label>
          <textarea 
                    name="Description"
                    [(ngModel)]="model.Description" 
                    class="form-control"  
                    rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2" >Add</button>
      </form>
</div>
