<app-nav></app-nav>

<div *ngIf="Account.loggedIn">
  <app-form></app-form>

 

  <div class="container-fluid" style="margin: 0; padding: 0px; width: 100vw;" >
    <div class="d-flex flex-wrap" style="margin: 0; padding: 0;">
      <div *ngFor="let task of userTasks" style="margin: 10px;">
        <app-card [id]="task.id" [name]="task.name" [desc]="task.description" [status]="task.complited"></app-card>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!Account.loggedIn">
  
  <app-register-form></app-register-form>
</div>
